
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{

    font-weight: 600;
    text-decoration: none;
    color: #495057;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}
.profile-edit-btn:visited {
    text-decoration: none;
  }
  .chatbox {
    position:fixed ;
    bottom: 30px;
    right: 30px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 300px;
    height: 350px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-40px);
    z-index: 123456;
    opacity: 1;
    
}

/* BUTTON */



/* HEADER */
.chatbox__header {
    background: #0062cc;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color:white;
}
.chatbox__header p{
    align-self: center;
    
}

/* MESSAGES */
.chatbox__messages {
    background-color: ghostwhite;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    margin-top: 10px;
    background: #E0E0E0; 
    padding: 8px 12px;
    max-width: 70%;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item--operator {
    margin-left: 70px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #0062cc;
    color: white;
}

/* FOOTER */
.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: whitesmoke;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.chatbox__send--footer {
    color: white;
    margin-right: 25px;
    margin-bottom: 25px;
}
.chatbox__button button{
    border: none;
    background-color: inherit;
    margin-left:200px ;
}
.navegacao a {
    font-size:14px;
    font-weight:700
  }
  .superNav {
    font-size:13px;
  }
  .form-control {
    outline:none !important;
    box-shadow: none;
  }
  @media screen and (max-width:540px){
    .centerOnMobile {
      text-align:center
    }
  }

.corSearch{
    --bs-btn-color: #000;
  --bs-btn-bg: #75b5ff;
  --bs-btn-border-color: #9fccff;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #9fccff;
  --bs-btn-hover-border-color: #9fccff;
  --bs-btn-focus-shadow-rgb: 217, 164, 6;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #75b5ff;
  --bs-btn-active-border-color: #75b5ff;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #75b5ff;
  --bs-btn-disabled-border-color: #75b5ff;
}

.centroSearch {
    --bs-bg-opacity: 1;
    --bs-btn-hover-border-color: #c875ff;
    background-color: #75b5ff;
  }

  .border-warningg {
    --bs-border-opacity: 1;
    --bs-btn-hover-border-color: #c875ff;
    border-color: #75b5ff;
  }

.navbar-brand img{
  max-width: 100px;
  max-height: 100px;
}

.navbar {
  padding: 0 !important;
}

.nav-item a i {
  font-size: 35px !important;
}

.fa-circle-user{
  color: #75b5ff;
}
footer{
    padding-top: 100px;
  }
  
  footer-top{
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  footer li,
  footer p,
  footer a{
    color: rgba(255, 255, 255, 0.7);
  }
  
  footer ul{
    list-style: none;
    padding: 0;
  }
  
  footer .line{
    width: 40px;
    height: 4px;
    background-color: var(--c-brand);
    margin-top: 12px;
    margin-bottom: 24px;
  }
  
  .logoFotter{
    align-items: top;
    align-items: left;
    height: 100px;
    width: Auto;
  }
  
  .social-icons a{
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100px;
  }
  
  .social-icons a:hover{
    background-color: var(--c-brand);
    color: white;
    transition: var(--transition);
  }
  
  /*SWIPER*/
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper {
    width: 100%;
    margin: 20px auto;
  }
  
  a{
    outline: none;
  }
  .input-group-append {
    cursor: pointer;
  }
  #servico{
    margin-bottom: 15px;
  }
  #contato{
    margin-top: 20px;
  }


